<footer class="mdl-mini-footer" style="bottom:0; position:absolute; width:100%; padding:0%;display: none;">

  <div class="mdl-mini-footer__left-section" style="padding:12px;">

    <div class="mdl-logo">HelpVet &copy 2018</div>

    <ul class="mdl-mini-footer__link-list">

      <li><a href="#">Ajuda</a></li>

      <li><a href="#">Termos e Privacidade</a></li>

    </ul>

  </div>

</footer>

</body>

<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.js"></script>

<script>mdc.autoInit()</script>

</html>
